h1 {
font-size: 40px;
text-align: center;
}

body{
color: black;
background-color: lightblue;
}

table {
margin-left: auto;
margin-right: auto;
text-align: left;
border-collapse: collapse;
font-size: large; 
}
tr {
border: 1px solid #ffffff;
text-align: center;
background-color: lightgray;
}
th {
text-align: center;
color: black;
background-color: gray;
}
td{
border: 1px solid #ffffff;
}
